vendor
node_modules
typespec/node_modules
public/build
public/hot
storage/framework/views/*
storage/framework/cache/*
storage/logs/*
storage/app/*
storage/*.key
storage/pail
database/database.sqlite
.env
.env.backup
.env.production
.git
.gitignore
.idea
.vscode
.codex
.claude
.cursor
.zed
tests
.phpunit.cache
.phpactor.json
auth.json
Homestead.json
Homestead.yaml
Thumbs.db
*.log
.DS_Store
